*{
    background-color: #34568B;
}
header {
    padding:  1.5em;
    background-color: #0072b0;
    border-radius: .25em;
    margin-bottom:.5em;
}
h1{
    background-color: #0072b0;
}
.Gold{

}
#Gold{
    background-color: #0072b0;
}