:root{
    box-sizing: border-box;
}
*,
::before,
::after{
    box-sizing: inherit;
}
html, body {  width:100%;  height:100vh; }

/* BVAmbient Style */
.bvambient_particle
{
	position: absolute;
	pointer-events: none;
	transition: top linear, left linear;
}

body{
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

body * + * {
    margin-top: 1.5em;
}

header {
    padding: 1em 1.5em;
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
    margin-bottom:1.5em;
}
.main{
    padding: 0 1.5em;
    background-color: #fff;
    border-radius: .5em;
}

.media{
    float: left;
    margin: 0 1.5em 1.5em 0;
    width: calc(50% - 1.5em);
    padding:1.5em;
    background-color: #eee;
    border-radius: 0.5em;
}
.clearfix::after{
    display: block;
    content: " ";
    clear: both;
}
.clearfix::before,
.clearfix::after{
    display:table;
    content: " ";
}
.clearfix::after{
    clear: both;
}
.media-image{
    float:left;
    margin-right: 1.5em;
}
.media:nth-child(odd){
    clear:left;
}
.media-body{
    overflow: auto;
    margin-top:0;
}
.media-body h4{
    margin-top:0;
}
a:link{
    color:red;
}
a:visited{
    color:green;
}
a:hover{
    color:hotpink;
}
a:active{
    color:blue;
}